
.menu.link.social{
    color: brown;
    font-weight: bolder;
}

ul.menu.social{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    width: 250px;
    margin: 0 auto;
    font-family: monospace;
    font-size: 14px;
}
 
.copyritght{
    text-align: center;
}
.main-menu{
    display: flex;
    list-style: none;
    gap: 16px;
    justify-content: center;
   
}  
.selectores {
    width: 54%;
    /* border: 1px solid;  */
    margin: 0 auto;
    background-color: aquamarine;
}
